@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange-light: #ff5b00;
  --orange: #ee9430;
  --yellow: #ecc839;
  --red: #2b0e11;
  --dark: #15181f;
  --white: #ffffff;
}

@font-face {
  font-family: "October Crow";
  src: url("../font/October\ Crow.ttf");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      360deg,
      rgba(73, 50, 1, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1120px;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-family: "October Crow", sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  color: var(--yellow);
  margin-bottom: 40px;
  text-shadow: 0px 0px 8px var(--orange-light);
  letter-spacing: 0.1em;
  text-align: center;
}

form {
  margin-bottom: 104px;
}

form select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 48px;
  background-color: var(--red);
  color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 4px;
  padding: 13px 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: var(--dark);
  border-radius: 12px;
  border: 0;
  cursor: pointer;
}

#card16,
#card17 {
  background-color: var(--red);
  border: 2px solid var(--orange);
  box-shadow: 0px 0px 8px #b63c00;
  color: var(--yellow);
  text-shadow: 0px 0px 8px var(--orange-light);
  font-size: 4.5rem;
  font-weight: 400;
  font-family: "October Crow", sans-serif;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 250px;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 300px;
  border-radius: 16px;
  background-color: var(--dark);
  padding: 24px 39px;
}

.modal h2 {
  font-family: "October Crow", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: var(--yellow);
  text-shadow: 0px 0px 8px var(--orange-light);
  margin-bottom: 24px;
  letter-spacing: 0.1em;
}

.modal p,
button {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
}

.modal p {
  line-height: 22/16rem;
  margin-bottom: 64px;
  text-align: center;
}

.modal button {
  width: 300px;
  height: 40px;
  background-color: var(--red);
  border: 2px solid var(--orange);
  border-radius: 8px;
  box-shadow: 0px 0px 8px var(--orange-light);
  cursor: pointer;
}

.web img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -20px;
  right: -20px;
}

@media screen and (max-width: 700px) {
  main {
    padding: 20px;
  }
  h1 {
    font-size: 3rem;
  }

  form {
    margin-bottom: 40px;
  }

  .card {
    width: 100px;
    height: 100px;
  }
  .card img{
    max-width: 80%;
    max-height: 80%;

  }
}
